body {
    
    font-family: Arial, sans-serif;
    margin: 0;
       
}

.contenedor{
   width: 80%;
   height: 100%; 
   margin: 0 auto;
}
.encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.dato{
   width: 60%; 
  
}

.imagen {
    width: 40%;
    display: flex;
    align-content: center;
    justify-content: center;  
}

.imagen img{
    width: 40%;
    border-radius: 1em;
    border: 0.03em solid;
}

a:visited{
 color: blue;
}

.iframe{
    display: flex;
    align-content: center;
   justify-content: center;
}

.imagDeInstitucion{
    max-width: 80%;
    max-height: 20%;
    display: flex;
    gap: 10px;
}
.instalaciones{
    width: 40%;
   object-fit: cover;
}
